.Friend{
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.Gift{
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}